<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "phoebe.jpg" %>
  </div>

  <div id="content">
    <h1> Hi! I am Phoebe!</h1>
    <p>
      Cupcake ipsum dolor sit amet I love. Topping chupa chups muffin cotton
candy candy canes cake biscuit candy jelly beans. Liquorice I love sweet roll
dessert pie chupa chups bonbon. I love croissant lemon drops muffin gummi
bears chocolate bar.
    </p>
  </div>
</div>
